<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/logo.ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/logo.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/logo.ico/favicon-16x16.png">
<link rel="mask-icon" href="{{site.baseurl}}/assets/logo.ico/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Scrollbar -->
<style> 
  ::-webkit-scrollbar{width: 16px;}
  ::-webkit-scrollbar-track {background-color:#4b4f52; border-radius: 16px;}
  ::-webkit-scrollbar-thumb {background-color:#5e6265; border-radius: 16px;}
  ::-webkit-scrollbar-thumb:hover {background: #4e91a5;}
  ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:12px;height:12px;background:transparent;
  } 
</style>

<!-- end custom head snippets -->
