@media screen and (any-pointer:coarse) {
  /* 터치 스크린 CSS*/
	.sidebar__go_to_top {
    display: none;
  }
}

@media screen and (any-pointer:fine){
	/* 마우스 CSS*/
  .sidebar__go_to_top {
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    z-index: 10;
    opacity: 0.5;
    font-size: 1.5em;
    &:hover {
      opacity: 1;
    }
  }
}
